<% title "All fortunes" %>

<%= form_tag fortunes_path, method: :get, id: "fortunes_search", class: "form-inline" do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil, class: "btn" %>
<% end %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @fortunes %>
  </div>
  <%= will_paginate @fortunes, :container => false %>
</div>

<%= render partial: 'fortune', collection: @fortunes %>

<div class="form-actions">
  <%= link_to 'New Fortune', new_fortune_path, class: 'btn btn-primary'%>
</div>
